body {
  background: #1e1e1e;
}
.MainPage {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  .textBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 60.3rem;
    height: 70rem;
    background: #0f0f0f70;
    border-radius: 1.5rem;
    h1 {
      color: #cfcfcf;
      text-align: center;
      margin-top: 1.4rem;
      font-weight: lighter;
    }

    h2 {
      color: #cfcfcf;
      text-align: center;
      margin-top: 6rem;
      font-weight: lighter;
      margin-bottom: 1rem;
    }

    p {
      color: #cfcfcf;
      text-align: center;
      margin-top: 0.1rem;
      margin-bottom: 1rem;
    }

    .QRcode {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 25rem;
      height: 25rem;
      background: #0f0f0f70;
      border-radius: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
